body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.top-bar {
  display: flex;
  background-color: lightskyblue;
  color: white;
  padding: 15px;
  justify-content: space-between;
  align-self: baseline;
}
#title {
  font-size: 15px;
}
#left {
  display: flex;
  align-items: baseline;
}
#product {
  padding: 10px;
  margin-left: 80px;
  border-left: 2px solid white;
  border-right: 2px solid white;
  padding-right: 30px;

  padding-left: 25px;
}
#supplier {
  margin-left: 25px;
  padding-left: 10px;
}
#right {
  padding: 5px;
}
#right > button {
  padding: 5px;
  margin: 5px;
}

.form-page > form {
  display: grid;
  grid-template-columns: auto auto;
}
.allContent {
  padding: 30px 100px;
}
h1 {
  font-weight: normal;
}
.inputAndLable {
  margin: 10px;
}
.inputAndLable > input,
select {
  margin-top: 10px;
  width: 100%;
  font-size: 18px;
}
.button-box {
  text-align: right;
  padding-right: 20px;
  grid-column: 1/3;
}
.button-box > button {
  height: 25px;
  margin: 10px;
  background-color: white;
}
#reset {
  color: darkcyan;
  border: 2px solid darkcyan;
}
#cancel {
  color: lightpink;
  border: 2px solid lightpink;
}
#add {
  color: lightskyblue;
  border: 2px solid lightskyblue;
}
.note {
  color: #aaa;
  font-size: 13px;
  margin-bottom: 15px;
}
