/* * {
  margin: 0;
  padding: 0;
} */

.imageWrapper img {
  height: 150px;
  width: 100px;
  margin-bottom: 20px;
}
.headerWrapper {
  /* background-color: cornsilk; */
  margin-bottom: 30px;
}
.myName {
  color: black;
  font-weight: 100px;
  font-size: 20px;
}

.footerWrapper {
  margin-top: 20px;
}
.listWrapper ul li a {
  text-decoration: none;
}
