<!DOCTYPE html>
<html lang="en">
<head>
<meta chars et="UT F-8">
<meta name="viewp ort" content="width=device-width, initial-scale= 1.0">
<meta http-equiv="X-UA-Compat ible" conten t="ie= edge">
<title>pageTitle </title>
<link rel=" stylesheet" href=" /css/main.css">
</head>

<body>
        <header class="main-header">
           <nav class="main-header__ nav">
                    <ul class="main-header__ite m-list ">
                           <li class=" main-header__item"><a href="/">Shop</a></li>
                    <li class=" main-header__item"><a class="active" href="/admi n/addproduct">Add Product</a></li>
                     </ul>
           </nav>
       </header>

<main >
<form class=" product-form " action="/admin/add-product" method="POST ">
       <div class="form-control">
       <label for="title ">Title</lab el>
         <input type="text " name="title" id="title ">
       </div>
<button class="btn" type="s ubmit">Add Product</button>
</body>
</html>
