<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Current time</title>
    <link
      href="<%= (hour>=6&&hour<=18)?'/css/day.css':'/css/night.css'%>"
      rel="stylesheet"
    />
  </head>
  <body>
    This page was loaded <%= time %>
  </body>
</html>
