<!DOCTYPE html>
<html>
  <head>
    <title>Shopping Cart</title>
  </head>
  <style>
    h1 {
      padding-left: 30px;
      color: palevioletred;
    }
    body li {
      color: darkgreen;
    }
    body input {
      color: rgb(25, 124, 185);
    }
  </style>
  <body>
    <h1>Shopping Cart</h1>

    <% if(products.length===0){ %>
    <p>Your Cart is Empty</p>
    <% } else { %> <% for(let item of items){ %>
    <ul>
      <li>Name:<%=item.getName()%></li>

      <ul>
        <li>Price:<%=item.getPrice()%></li>
        <li>Quantity:<%=item.getQuantity()%></li>
      </ul>
    </ul>
    <%} %> <% } %>
  </body>
</html>
